.header {   
        background-color: #F4042E;

    h1 {
        margin-top: 20px;
        color: #fff;
        font-family: spider;
        text-transform: uppercase;
    }

    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        max-width: 80px;
        width: 100%;
    }

    &__links{
        display: flex;

        &__item {
            background-color: #F4042E;
            padding: 8px;
        }
    }
}