
.hero {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;

    h2, p {
        color: white;
    }

    .container{
        max-width: 100%;
        background-image: url(../../src/images/background-spider.png);
        display: flex;
        border-radius: 5px;
        box-shadow: 1px black;
    }

    img {
        max-width: 100%;
        height: 600px;
    }

    &__text_container {
        padding: 2vw;
        
        
        h2 {
            margin-bottom: 24px;
        } 
    }

        &__text_container {
            position: absolute;
            top: 0vw;
            left: 50%;
            width: calc(50% - 5.6vw);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
}